[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
	branch = master
[submodule "dependencies/dx-prof"]
	path = dependencies/dx-prof
	url = https://github.com/w3c/dx-prof.git
	branch = gh-pages
